<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-playservices-updater"
        version="0.0.1">

    <name>Google Play Services Updater</name>
    <description>Tools for managing the version of the installed Google Play Services</description>
    <license>Apache 2.0</license>
    <keywords>google,play,services,google-play-services</keywords>
    <repo>https://github.com/wischweh/Cordova-PlayServiceUpdater.git</repo>

    <engines>
        <engine name="cordova-android" version=">=3"/>
    </engines>

  <js-module src="www/PlayServiceUpdater.js" name="PlayServiceUpdater">
    <clobbers target="window.playservice_updater" />
  </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="android-minSdkVersion" value="9" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <!-- <source-file src="platforms/android/src/de/ndr/engine/XWalkWebViewEngine.java" target-dir="src/org/crosswalk/engine"/>

        <framework src="platforms/android/xwalk.gradle" custom="true" type="gradleReference"/> -->

        <hook type="after_plugin_install" src="hooks/after_plugin_install/000-shared_mode_special.js"/>
        <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall/000-shared_mode_special.js"/>
        <hook type="after_build" src="hooks/after_build/000-build_64_bit.js"/>
        <hook type="before_build" src="hooks/before_build/000-build_64_bit.js"/>
    </platform>

    <info>
        Android 2.3 or greater is required for making the Google Play Service libs available and the Services updateable, hence this is the min supported Version.
    </info>
</plugin>
